**/.DS_STORE
.DS_STORE
fastlane/report.xml

*.xcframework*
fastlane/apadmi-mockzilla-ios
demo-ios/demo-ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

apadmi-mockzilla-ios/
demo-android/.gradle
demo-android/.idea
demo-android/build
.idea/*
generated_docs/*
debug-version
!demo-android/debug-version
!demo-kmm/debug-version


docs/__pycache__/
