**/.DS_STORE
.DS_STORE
fastlane/report.xml

*.xcframework*
fastlane/apadmi-mockzilla-ios
demo-ios/demo-ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

apadmi-mockzilla-ios/
demo-android/.gradle
demo-android/.idea
demo-android/build
.idea/*
generated_docs/*
debug-version.txt
!demo-android/debug-version.txt
!demo-kmm/debug-version.txt

docs/__pycache__/
**/.gradle/**
**/build/**
**/.idea/**
