:root > * {
	--md-primary-fg-color--light: #4ECED8;
	--md-primary-fg-color--dark: #4ECED8;
	--md-accent-fg-color: #4ECED8;
	--md-footer-bg-color: var(--md-primary-fg-color);
}

[data-md-color-scheme='default'] {
	--md-primary-fg-color: #232323;
	--md-typeset-a-color: #4ECED8;
}

[data-md-color-scheme='slate'] {
	--md-default-bg-color: #141414;
	--md-primary-fg-color: #232323;
	--md-typeset-a-color: #4ECED8;
}
