*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
SwiftMockzilla/.build
SwiftMockzilla/.swiftpm
temp/
mockzilla-management-ui/common/src/test/snapshots/images