# Created by https://www.toptal.com/developers/gitignore/api/xcode,swiftpackagemanager,cocoapods
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swiftpackagemanager,cocoapods

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE LOCK FILE
Pods/

### SwiftPackageManager ###
Packages
.build/
xcuserdata
DerivedData/
### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


# End of https://www.toptal.com/developers/gitignore/api/xcode,swiftpackagemanager,cocoapods